#editJobsTable {
  border-collapse: collapse;
  width: auto;
  max-width: 1200px;
  margin-top: 40px;
  border: 1px solid black;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

#editJobsTable td,
#editJobsTable th {
  border: 1px solid black;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

#editJobsTable thead th {
  text-align: left;
  white-space: nowrap;
}
